<div class='modal fade'>
  <div class='modal-dialog _modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <span class='modal-title'></span>
      </div>
      <div class='modal-body _input-lg'></div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-lg btn-cancel' data-dismiss='modal' />
        <button type='button' class='btn btn-lg btn-ok' />
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
