<% if @search_criteria.errors.any? %>
  <%= ResourceMessageBuilder.build_html_errors(@search_criteria, 'errors.messages.search_failed',
       resource: @search_criteria.class.model_name.human.downcase) %>
<% end %>
<%= form_with(model: @search_criteria, id: :search_criteria_form, url: search_users_search_path, local: true) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="input-group">
        <span id="selected_search_option" class="input-group-addon input-group-addon-primary"></span>
        <%= f.hidden_field(:search_option, id: :search_option) %>
        <%= f.text_field :search_string, id: :search_string, placeholder: '', class: 'form-control' %>

        <div class="input-group-btn">
          <button id="search_button" type="button" class="btn btn-primary">Search</button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul id="search_options" class="dropdown-menu dropdown-menu-right">
            <li><a href="#">Search by...</a></li>
            <li role="separator" class="divider"></li>
            <li><a id="email" class="search-item" data-placeholder="e.g. email@gmail.com" href="#">Email</a></li>
            <li><a id="user_name" class="search-item" data-placeholder="e.g. user_name" href="#">User name</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
